{% extends 'base.html' %}
{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<div class="main container">
    <div class="box">
        <span class="borderLine"></span>
        <form class="form_auth_style" action="{{ url_for('login') }}" method="post">
            {{ form.csrf_token }}

            <h2>Authorization</h2>

            <div class="inputBox">
                <input type="text" name="name" >
                <i></i>
                <span>Имя пользователя:</span>
                <i></i>
            </div>
            <div class="inputBox">

                <input type="password" name="password" >
                <i></i>
                <span>Введите Ваш password:</span>
                <i></i>
            </div>
            <div class="inputBox button">
                <input type="submit"  value="Отправить">
            </div>

        </form>
    </div>
</div>
{% endblock %}